body{
    text-align: center;
    background-color: red;
}
#flower3{
    height:177px;
    width:202px;
}
#flower4{
       height:177px;
    width:250px;
}
#flower5{
       height:177px;
    width:226px;
}
#flower6{
    
height:177px;
    width:226px;
}